/*************************************************************************************************/
/* Admin - Base																					 */
/*************************************************************************************************/
.menu-icon-wpc-weather .wp-menu-image {
    background-image: url("../img/icon-admin-wpc.png");
    background-position: -193px 8px;
}
.menu-icon-wpc-weather .wp-menu-image img {
	display:none;
}
#wpcloudy_basic .ui-tabs .ui-tabs-nav {
    display: inline-block;
    height: 26px;
    position: relative;
    width: 100%;
    z-index: 50;
	margin: 0;
	padding: 0;
}
#wpcloudy_basic .ui-helper-clearfix:after {
	content:none;
}
#wpcloudy_basic .ui-tabs .ui-tabs-panel {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #DDDDDD;
    border-radius: 0 3px 3px 3px;
	display: block;
	padding: 1em 1.4em;
}
#wpcloudy_basic .ui-tabs .ui-tabs-nav li, #wpcloudy_basic .ui-tabs-anchor {
	cursor:pointer !important;
}
#wpcloudy_basic .ui-tabs .ui-tabs-nav li.ui-tabs-active {
    background: none repeat scroll 0 0 #FFFFFF;
    border-color: #DDDDDD #DDDDDD #FFFFFF;
    border-image: none;
    border-style: solid;
    border-width: 1px;
    position: relative;
    z-index: 60;
	cursor:pointer;
}
#wpcloudy_basic #tabs-1 label, 
#wpcloudy_basic #tabs-3 label, 
#wpcloudy_basic .subsection-title, 
#wpcloudy_basic label[for=wpcloudy_map_height_meta], 
#wpcloudy_basic label[for=wpcloudy_map_zoom_meta],
#wpcloudy_basic label[for=wpcloudy_map_opacity_meta] {
    border-bottom: 1px solid #DDDDDD;
    display: block;
    margin: 20px 0 5px;
}
#wpcloudy_basic .wp-color-result {
	margin:0;
}
#wpcloudy_basic #tabs-1 input, 
#wpcloudy_basic #wpcloudy_map_height_meta, 
#wpcloudy_basic #wpcloudy_map_opacity_meta {
	width:300px;
}
#wpcloudy_basic select {
	width:300px;
}
#wpcloudy_basic #wpcloudy_custom_css_meta {
	width:100%;
	height:250px;
}

/*************************************************************************************************/
/* Admin - Infobox 																				 */
/*************************************************************************************************/
#wpcloudy_shortcode .shortcode {
	margin:20px 0;
}
#wpcloudy_shortcode .shortcode-php {
	margin:0 0 20px 0;
}
#wpcloudy_shortcode .shortcode-php .highlight {
	display:block;
	margin:20px 0 0 0;
}
/*************************************************************************************************/
/* Admin - Tabs 																				 */
/*************************************************************************************************/
#wpcloudy_basic .ui-tabs {
	position: relative;/* position: relative prevents IE scroll bug (element with position: relative inside container with overflow: auto appear as "fixed") */
	padding: .2em;
}
#wpcloudy_basic .ui-tabs .ui-tabs-nav li {
	list-style: none;
	float: left;
	position: relative;
	top: 0;
	margin: 1px .2em 0 0;
	border-bottom-width: 0;
	padding: 0;
	white-space: nowrap;
}
#wpcloudy_basic .ui-tabs .ui-tabs-nav li a {
	float: left;
	padding: .5em 1em;
	text-decoration: none;
}
#wpcloudy_basic .ui-tabs .ui-tabs-nav li.ui-tabs-active {
	margin-bottom: -1px;
	padding-bottom: 1px;
}
#wpcloudy_basic .ui-tabs .ui-tabs-nav li.ui-tabs-active a,
#wpcloudy_basic .ui-tabs .ui-tabs-nav li.ui-state-disabled a,
#wpcloudy_basic .ui-tabs .ui-tabs-nav li.ui-tabs-loading a {
	cursor: text;
}
#wpcloudy_basic .ui-tabs .ui-tabs-nav li a, /* first selector in group seems obsolete, but required to overcome bug in Opera applying cursor: text overall if defined elsewhere... */
#wpcloudy_basic .ui-tabs-collapsible .ui-tabs-nav li.ui-tabs-active a {
	cursor: pointer;
}
#wpcloudy_basic .ui-tabs-vertical { width: 55em; }
#wpcloudy_basic .ui-tabs-vertical .ui-tabs-nav { padding: .2em .1em .2em .2em; float: left; width: 12em; }
#wpcloudy_basic .ui-tabs-vertical .ui-tabs-nav li { clear: left; width: 100%; border-bottom-width: 1px !important; border-right-width: 0 !important; margin: 0 -1px .2em 0; }
#wpcloudy_basic .ui-tabs-vertical .ui-tabs-nav li a { display:block; }
#wpcloudy_basic .ui-tabs-vertical .ui-tabs-nav li.ui-tabs-active { padding-bottom: 0; padding-right: .1em; border-right-width: 1px; border-right-width: 1px; }
#wpcloudy_basic .ui-tabs-vertical .ui-tabs-panel { padding: 1em; float: right; width: 40em;}

/*************************************************************************************************/
/* Admin - Options panel 																		 */
/*************************************************************************************************/
.wpcloudy-settings label {margin: 0 0 0 10px;}

/*************************************************************************************************/
/* Admin - Tooltip		 																		 */
/*************************************************************************************************/
.wpc_help {
	float:right;
	margin:0 0 0 20px;
	cursor:pointer;
}
.wpc_help:hover {
	opacity:0.8;
}
.tooltiptext{
    display: none;
}
.qtip{
	position: absolute;
	left: -28000px;
	top: -28000px;
	display: none;

	max-width: 280px;
	min-width: 50px;
	
	font-size: 10.5px;
	line-height: 12px;

	direction: ltr;

	box-shadow: none;
	padding: 0;
}

.qtip-content{
	position: relative;
	padding: 5px 10px;
	overflow: hidden;
	font-size: 12px;
	text-align: left;
	word-wrap: break-word;
	line-height: 18px;
}

.qtip-titlebar{
	position: relative;
	padding: 5px 35px 5px 10px;
	overflow: hidden;

	border-width: 0 0 1px;
	font-weight: bold;
}

.qtip-titlebar + .qtip-content{ border-top-width: 0 !important; }

/* Default close button class */
.qtip-close{
	position: absolute;
	right: -9px; top: -9px;

	cursor: pointer;
	outline: medium none;

	border-width: 1px;
	border-style: solid;
	border-color: transparent;
}

.qtip-titlebar .qtip-close{
	right: 4px; top: 50%;
	margin-top: -9px;
}

* html .qtip-titlebar .qtip-close{ top: 16px; } /* IE fix */

.qtip-titlebar .ui-icon,
.qtip-icon .ui-icon{
	display: block;
	text-indent: -1000em;
	direction: ltr;
}

.qtip-icon, .qtip-icon .ui-icon{
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	text-decoration: none;
}

.qtip-icon .ui-icon{
	width: 18px;
	height: 14px;

	line-height: 14px;
	text-align: center;
	text-indent: 0;
	font: normal bold 10px/13px Tahoma,sans-serif;

	color: inherit;
	background: transparent none no-repeat -100em -100em;
}

/* Applied to 'focused' tooltips e.g. most recently displayed/interacted with */
.qtip-focus{}

/* Applied on hover of tooltips i.e. added/removed on mouseenter/mouseleave respectively */
.qtip-hover{}

/* Default tooltip style */
.qtip-default{
	border-width: 2px;
	border-style: solid;
	border-color: #F1D031;

	background-color: #FFFFA3;
	color: #555;
}

.qtip-default .qtip-titlebar{
	background-color: #FFEF93;
}

.qtip-default .qtip-icon{
	border-color: #CCC;
	background: #F1F1F1;
	color: #777;
}

.qtip-default .qtip-titlebar .qtip-close{
	border-color: #AAA;
	color: #111;
}

/*! Light tooltip style */
.qtip-light{
	background-color: white;
	border-color: #E2E2E2;
	color: #454545;
}

.qtip-light .qtip-titlebar{
	background-color: #f1f1f1;
}


/*! Blue tooltip style */
.qtip-blue{
	background-color: #E5F6FE;
	border-color: #ADD9ED;
	color: #5E99BD;
}

.qtip-blue .qtip-titlebar{
	background-color: #D0E9F5;
}

.qtip-blue .qtip-close .qtip-icon{
	background-position: -2px 0;
}

.qtip-shadow{
	-webkit-box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.15);
	-moz-box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.15);
	box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, 0.15);
}

/* Add rounded corners to your tooltips in: FF3+, Chrome 2+, Opera 10.6+, IE9+, Safari 2+ */
.qtip-rounded,
.qtip-tipsy,
.qtip-bootstrap{
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

.qtip-rounded .qtip-titlebar{
	-moz-border-radius: 4px 4px 0 0;
	-webkit-border-radius: 4px 4px 0 0;
	border-radius: 4px 4px 0 0;
}

/* IE9 fix - removes all filters */
.qtip:not(.ie9haxors) div.qtip-content,
.qtip:not(.ie9haxors) div.qtip-titlebar{
	filter: none;
	-ms-filter: none;
}
